@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    position: relative;
    overflow-x: hidden;
    transition-property: all;
    transition-duration: 2s;
}

nav {
    position: fixed;
    top: 0px;
    color: #6ae3ff;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

nav .logo {
    font-family: "Poetsen One", sans-serif;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: space-around;
}

ul li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 20px;
}

ul li a {
    color: #6ae3ff;
    text-decoration: none;
    transition-duration: .1s;
    transition-timing-function: ease-in;
    transition-property: all;
}

ul li a:hover {
    color: #bff3ff;
    transform: scale(1.1);
}

#menu {
    display: none;
    font-size: 30px;
    margin-right: 50px;
}

.hero {
    background: url('../images/hero.jpg') no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hero h1 {
    font-family: "Poetsen One", sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1;
    color: #65ffb7;
    text-align: center;
    font-size: 50px;
    animation: wave 2s forwards infinite ease-in-out;
}

@keyframes wave {
    0% {
        transform: translate(-50%, -40%);
    }
    50% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, -40%);
    }
}

.hero .direction {
    color: whitesmoke;
    position: absolute;
    text-transform: capitalize;
    text-decoration: none;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    animation: wave 2s forwards infinite ease-in-out;
}

.heading {
    /* background-color: #65ffb7; */
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    width: 100%;
}

.imagebox {
    padding: 20px 0;
    overflow-x: auto;
}

#text {
    position: absolute;
    display: none;
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    transform: translateX(-100%);
    text-transform: uppercase;
    letter-spacing: 2px;
}

main {
    margin: auto;
    width: 90vw;
}

.container {
    /* background-color: #65ffb7; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.paragraph {
    width: calc(100% - 500px);
    /* background-color: green; */
    padding: 20px;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 400;
    font-style: normal;
    /* font-family: sans-serif; */
}

.flex-r-rev {
    flex-direction: row-reverse;
}

p {
    text-align: justify;
    margin-bottom: 20px;
}

p::first-letter {
    font-size: x-large;
}

.p-2 {
    font-size: 1em;
}

.no-align-item {
    align-items: unset;
}

.girl_img {
    margin-top: 20px;
    height: 350px;
}

#girl_img {
    height: inherit;
}

.girl_paragraph {
    box-sizing: border-box;
}

footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}