@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

.navcontainer {
    background: transparent;
    position: absolute;
    width: 100vw;
}

nav {
    position: relative;
    color: white;
    height: 10vh;
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    display: flex;
    align-items: center;
    font-size: 20px;
}

nav .sidebar {
    display: flex;
    /* flex-direction: row-reverse; */
}

nav .sidebar a {
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 0 30px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
}

nav .sidebar a:hover {
    background-color: rgb(112, 112, 112);
    /* transform: scale(1.01); */
    /* color: black; */
}

#menu {
    display: none;
}

header {
    background-color: black;
    height: 100vh;
}

.hero {
    background-color: black;
    width: 80vw;
    height: inherit;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero img {
    height: 80vh;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgb(177, 233, 255);
    animation: wave 1s ease-in-out infinite alternate;
}

.hero .textarea {
    color: white;
    width: 40vw;
    height: 80vh;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    font-family: "Bruno Ace SC", sans-serif;
}

.hero .textarea h2 {
    font-family: "Bruno Ace SC", sans-serif;
}

@keyframes wave {
    from {
        transform: translateY(0.5%);
    }
    to {
        transform: translateY(0%);
    }
}